body {
    background-image: url("https://e0.pxfuel.com/wallpapers/541/770/desktop-wallpaper-white-plain-background-dirty-white.jpg");
    height: 100vh;
    width: 100vw;

}

.logo-img {
    border: solid black;
    border-radius: 25% 10%;
    margin: 50px 0 0 40%;
}


.form-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 20px;

}

.pet-display-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.img-display {
    margin-top: 50px;
    margin-left: 100px;
}

.labels p {
    display: inline-block;
    width: 200px;
    border: solid 5px black;
    background-color: beige;
}


.toggle-display {
    display: none;
}
